NOVA_HOST=127.0.0.1
NOVA_PORT=4317
NOVA_API_TOKEN=
NOVA_PERMISSION_MODE=strict
NOVA_CAPABILITY_DIR=./config/capabilities
NOVA_STATE_DIR=./.nova/state
NOVA_ALLOW_REMOTE_CAPABILITIES=false
NOVA_MAX_CONTEXT_TOKENS=24000
